#player-container {
    text-align: center;
}

#player-container * {
    border: 1px solid #333;
    margin-bottom: 20px;
}

#channel-list tbody tr:hover, #channel-list tr:hover a {
    cursor: pointer;
}
