body {
	font-family: sans-serif;
	color: #a0a0a0;
	background-color: #2C2C29;
}

a {
	color: #a0a0a0;
}

h1, h2, h3, h4, h5, h6 {
	color: #F1943D;
	font-family: serif;
}

#container {
	width: 960px;
	margin: 0 auto;
}

#channel-list {
	border-spacing: 0;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

#channel-list tbody tr:nth-child(odd) {
	background-color: #111;
}

#channel-list tbody tr:hover, #channel-list tr:hover a {
	cursor: pointer;
	color: black;
	background-color: #F1943D;
}

#player-container {
	text-align: center;
}

#player-container * {
	border: 1px solid #333;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.eyecatcher {
	color: white;
	font-weight: bold;
}

ol li {
	margin-bottom: 20px;
}

img.thumbnail {
	width: 200px;
}
